version: '3.8'

services:
  nginx:
    build: ./nginx
    ports:
      - 1337:80
    depends_on:
      - web
    volumes:
      - media_volume:/usr/src/djangobnb_backend/media
  web:
    build: ./djangobnb_backend
    command: gunicorn djangobnb_backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./djangobnb_backend/:/usr/src/djangobnb_backend/
      - media_volume:/usr/src/djangobnb_backend/media
    expose:
      - 8000
    env_file:
      - ./.env.dev
    depends_on:
      - db
      - daphne
  daphne:
    build: ./djangobnb_backend
    command: daphne --bind 0.0.0.0 -p 8002 djangobnb_backend.asgi:application
    ports:
      - 8002:8002
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgresuser
      - POSTGRES_PASSWORD=postgrespassword
      - POSTGRES_DB=djangobnb

volumes:
  postgres_data:
  media_volume: